.App {
  text-align: center;
  align-content: center;
  background: rgb(230, 131, 230);
}

.friendSec {
  display: flex;
  flex-wrap: wrap;
  
}

.friendCard {
  background: rgb(243, 149, 243);
  width: 300px;
  margin-top: 10px;
  border-radius: 40px;
  margin-bottom: 50px;
  margin: 10px auto;
}